global_defs {
  script_user root
  enable_script_security
}

vrrp_script chk_haproxy {
  script "/usr/local/bin/chk_haproxy.sh"
  interval 2
  weight 10
}

vrrp_instance VI_1 {
  state BACKUP
  interface {{ network_interface }}
  virtual_router_id {{ router_id }}
  priority {{ priority }}
  advert_int 1
  authentication {
    auth_type PASS
    auth_pass {{ auth_pass }}
  }
  virtual_ipaddress {
    {{ vip_address }}
  }
  track_script {
    chk_haproxy
  }
}
