vrrp_instance VI_1 {
  state BACKUP
  interface {{ pg_interface }}
  virtual_router_id {{ vip_router_id }}
  priority {{ 100 if inventory_hostname == 'db01' else (99 if inventory_hostname == 'db02' else 98) }}
  advert_int 1
  authentication {
    auth_type PASS
    auth_pass 42keepalived
  }
  virtual_ipaddress {
    {{ pg_vip }}
  }
}
