include_dir = 'conf.d'
data_directory = '/var/lib/postgresql/{{ pg_version }}/main'
hba_file = '/etc/postgresql/{{ pg_version }}/main/pg_hba.conf'
ident_file = '/etc/postgresql/{{ pg_version }}/main/pg_ident.conf'
external_pid_file = '/var/run/postgresql/{{ pg_version }}-main.pid'

listen_addresses = '*'
port = 5432
wal_level = replica
max_wal_senders = 10
wal_keep_size = 64
hot_standby = on
synchronous_commit = on
log_destination = 'stderr'
logging_collector = on
log_directory = 'log'
log_filename = 'postgresql-%a.log'
log_min_messages = warning
log_min_error_statement = error
log_line_prefix = '%t [%p]: [%l-1] user=%u,db=%d '
max_connections = 200
shared_buffers = 512MB
work_mem = 4MB
maintenance_work_mem = 64MB
effective_cache_size = 2GB
timezone = 'UTC'
lc_messages = 'en_US.UTF-8'
lc_monetary = 'en_US.UTF-8'
lc_numeric = 'en_US.UTF-8'
lc_time = 'en_US.UTF-8'

